<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category %></title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <script src="/javascripts/switch.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
  </head>
  <body class="bg-white dark:bg-gray-900 min-h-screen">
    <%- include('../partials/header.ejs') %> <% blogs.sort((a, b) => new
    Date(b.createdAt) - new Date(a.createdAt)); %> <%-
    include('../partials/latest.ejs') %> <%- include('../partials/recent.ejs')
    %> <%- include('../partials/randomBlog.ejs') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        new Glide(".myGlide", {
          type: "carousel",
          startAt: 0,
          perView: 3,
          autoplay: 3000,
          hoverpause: true,
          breakpoints: {
            1024: {
              perView: 2,
            },
            600: {
              perView: 1,
            },
          },
        }).mount();
      });
    </script>
  </body>
</html>
