<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <script src="/javascripts/switch.js"></script>
  </head>
  <body class="bg-white dark:bg-gray-900 min-h-screen">
    <%- include('../partials/navbar.ejs') %>
    <section class="bg-white dark:bg-gray-900 py-12">
      <div class="container mx-auto">
        <% if (blogs.length<1) { %>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
          No posts yet, create a
          <a href="/blog/create" class="text-blue-600 font-bold">new one</a>
        </p>
        <% } %> <% blogs.sort((a, b) => new Date(b.createdAt) - new
        Date(a.createdAt)); %>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
          <% blogs.forEach(blog => { %>
          <div
            class="bg-gray-100 dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden"
          >
            <img
              src="<%= blog.image || 'https://via.placeholder.com/600' %>"
              alt="Blog Image"
              class="w-full h-64 object-cover object-center"
            />
            <div class="p-6">
              <h3
                class="text-xl font-semibold text-gray-800 dark:text-white mb-2"
              >
                <%= blog.title %>
              </h3>
              <p class="text-gray-600 dark:text-gray-300 mb-4">
                <%= blog.description %>
              </p>
              <div class="flex items-center">
                <img
                  src="<%= blog.author.image || 'https://via.placeholder.com/50' %>"
                  alt="Author Image"
                  class="w-8 h-8 rounded-full object-cover mr-2"
                />
                <div>
                  <p class="text-gray-700 dark:text-gray-300 font-medium">
                    <%= blog.author.name %>
                  </p>
                  <p class="text-gray-500 dark:text-gray-400">
                    @<%= blog.author.username %>
                  </p>
                </div>
              </div>
              <a
                href="/blog/<%= blog.slug %>"
                class="block mt-4 text-primary-600 dark:text-primary-400 hover:underline"
                >Read more</a
              >
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </section>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
