<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <script src="/javascripts/tailwind.config.js"></script>
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="bg-white dark:bg-gray-900 min-h-screen">
    <header>
      <nav class="bg-white px-4 lg:px-6 py-2.5 dark:bg-gray-900">
        <div
          class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
        >
          <a
            href="https://flowbite.com"
            class="flex items-center dark:text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
              ></path>
            </svg>
            <span
              class="self-center ml-1 text-xl text-indigo-600 dark:text-white font-semibold whitespace-nowrap"
              >InkVerse</span
            >
          </a>
          <div class="flex items-center lg:order-2">
            <a
              href="/api/login"
              class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg shadow-md hover:bg-indigo-500 hover:text-white transition duration-300 text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-gray-800"
              >Log in</a
            >
            <a
              href="/api/register"
              class="text-white bg-indigo-500 hover:bg-indigo-800 shadow-lg focus:ring-4 focus:ring-indigo-300 transition duration-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-white dark:text-indigo-300 dark:hover:bg-indigo-500 dark:hover:text-white focus:outline-none dark:focus:ring-white"
              >Get started</a
            >
            <div class="flex items-center justify-end">
              <i
                id="modeSwitchIcon"
                class="fas fa-sun text-lg m-2 text-indigo-500 dark:text-gray-300 cursor-pointer transition"
              ></i>
            </div>
            <button
              data-collapse-toggle="mobile-menu-2"
              type="button"
              class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="mobile-menu-2"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-6 h-6"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <svg
                class="hidden w-6 h-6"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <div
            class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1"
            id="mobile-menu-2"
          >
            <ul
              class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 dark:text-white"
            >
              <li>
                <a
                  href="#"
                  class="block py-2 pr-4 pl-3 text-white rounded bg-indigo-700 lg:bg-transparent lg:text-indigo-500 lg:border-b-4 dark:border-white border-indigo-500 lg:p-0 dark:text-white"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="/blog/categories"
                  class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-500 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition duration-300"
                  >Category</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-500 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition duration-300"
                  >Features</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-500 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition duration-300"
                  >Team</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <% if (blogs.length<1) { %>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      No posts yet, create a
      <a href="/blog/create" class="text-blue-600 font-bold">new one</a>
    </p>
    <% } %> <% blogs.sort((a, b) => new Date(b.createdAt) - new
    Date(a.createdAt)); %>

    <ul
      class="grid grid-cols-1 xl:grid-cols-3 gap-y-10 gap-x-6 items-start p-8 dark:bg-gray-900"
    >
      <% blogs.forEach(blog => { %>
      <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
        <div class="order-1 sm:ml-6 xl:ml-0">
          <h3 class="mb-1 text-slate-900 font-semibold">
            <span class="mb-1 block text-sm leading-6 text-indigo-500"
              ><%= blog.tags %></span
            >
            <span class="dark:text-white"><%= blog.title %></span>
          </h3>
          <div
            class="prose prose-slate prose-sm text-slate-600 dark:text-white"
          >
            <p><%= blog.description %></p>
          </div>
          <a
            href="/blog/<%= blog.slug %>"
            class="group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 focus:ring-slate-500 mt-6"
            >Learn more<span class="sr-only"
              >, Completely unstyled, fully accessible UI components</span
            >
            <svg
              class="overflow-visible ml-3 text-slate-300 group-hover:text-slate-400"
              width="3"
              height="6"
              viewBox="0 0 3 6"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M0 0L3 3L0 6"></path></svg
          ></a>
        </div>
        <img
          src="<%= blog.image || 'https://res.cloudinary.com/djc5o8g94/image/upload/v1714826023/blog-folder/images/fbsqzvssuyhm6imbjv2c.jpg' %>"
          alt=""
          class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full"
          width="1216"
          height="640"
        />
      </li>
      <% }); %>
    </ul>

    <%- include('../partials/footer.ejs') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    <script>
      // Function to toggle dark mode
      function toggleDarkMode() {
        const modeSwitchIcon = document.getElementById("modeSwitchIcon");
        let darkMode = localStorage.getItem("darkMode") === "true";

        if (darkMode) {
          modeSwitchIcon.classList.remove("fa-sun");
          modeSwitchIcon.classList.add("fa-moon");
          modeSwitchIcon.classList.remove("text-yellow-500");
          modeSwitchIcon.classList.add("text-gray-300");
          document.body.classList.add("dark");
        } else {
          modeSwitchIcon.classList.remove("fa-moon");
          modeSwitchIcon.classList.add("fa-sun");
          modeSwitchIcon.classList.remove("text-gray-300");
          modeSwitchIcon.classList.add("text-yellow-500");
          document.body.classList.remove("dark");
        }
      }

      // Toggle dark mode on page load
      toggleDarkMode();

      // Toggle dark mode on click
      const modeSwitchIcon = document.getElementById("modeSwitchIcon");
      modeSwitchIcon.addEventListener("click", function () {
        let darkMode = localStorage.getItem("darkMode") === "true";
        localStorage.setItem("darkMode", (!darkMode).toString());
        toggleDarkMode();
      });
    </script>
  </body>
</html>
